<footer>
  <div class="bottom-bg">
    <div class="bottom-nav">
    <ul>
      <li class="bottom-nav-list nav-active">
        <a href="/">
          <span class="icon-nav">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="text-nav">Accueil</span>
        </a>
      </li>
      <li class="bottom-nav-list">
        <a href="#">
          <span class="icon-nav">
            <ion-icon name="grid-outline"></ion-icon>
          </span>
          <span class="text-nav">Catégories</span>
        </a>
      </li>
      <li class="bottom-nav-list">
        <a href="#">
          <span class="icon-nav">
            <ion-icon name="dice-outline"></ion-icon>
          </span>
          <span class="text-nav">Random</span>
        </a>
      </li>
      <li class="bottom-nav-list">
        <a href="#">
          <span class="icon-nav">
            <ion-icon name="dice-outline"></ion-icon>
          </span>
          <span class="text-nav">Jeux</span>
        </a>
      </li>
      <li class="bottom-nav-list">
        <a href="#">
          <span class="icon-nav">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="text-nav">Autre</span>
        </a>
      </li>
      <div class="nav-indicator"></div>
    </ul>
    </div>
  </div>
</footer>