<!-- <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/RegleDepot/">Accueil</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/RegleDepot/cartes">Jeux de cartes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/RegleDepot/de">Jeux de dés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/RegleDepot/balle">Jeux de balles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/RegleDepot/main">Jeux de mains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/RegleDepot/autre">Autre</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
            Nombre de joueur
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/RegleDepot/2-joueurs/">2</a>
            <a class="dropdown-item" href="/RegleDepot/3-joueurs/">3</a>
            <a class="dropdown-item" href="/RegleDepot/4-joueurs/">4</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="story-container">
  <ul>
    <li>
      <div class="story">
        <img src="/RegleDepot/content/logo-carte-min-story.png" alt="">
      </div>
      <span class="story-title">
        <a href="/RegleDepot/cartes">Cartes</a>
      </span>
    </li>
    <li class="has-story">
      <div class="story">
        <img src="/RegleDepot/content/logo-carte-min-story.png" alt="">
      </div>
      <span class="story-title">
        <a href="/RegleDepot/de">Dés</a>
      </span>
    </li>
    <li class="has-story">
      <div class="story">
        <img src="/RegleDepot/content/logo-carte-min-story.png" alt="">
      </div>
      <span class="story-title">
        <a href="/RegleDepot/balle">Balles</a>
      </span>
    </li>
    <li class="has-story">
      <div class="story">
        <img src="/RegleDepot/content/logo-carte-min-story.png" alt="">
      </div>
      <span class="story-title"><a href="/RegleDepot/main">Mains</a></span>
    </li>
    <li class="has-story">
      <div class="story">
        <img src="/RegleDepot/content/logo-carte-min-story.png" alt="">
      </div>
      <span class="story-title">Autre</span>
    </li>
  </ul>
</div>